

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#headersection{background-color: #363534;}

#nav{ background-color: #363534;
	height: 1000px;

		
		border-right: 1px solid #E6E6E6;}

#hero{height: auto;}
#fix{height: 1000px;}
#headersection{margin-top:50px;
	color: #E5E500;
opacity: 80%;
}
#headersection h1{text-align: center;
font-size: 48px;
}

h1{
	

	font-family: 'Playfair Display', serif;

}

#dp{display: block;
	margin: auto;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	opacity:60%;
	box-shadow: 0px 0px 15px #D9D9D9;
	}

a{color: #FE642E;
	text-decoration: none;}
a:hover{text-decoration: none;
		color: orange;}


p{ font-size: 14px;
 font}

#nav li a{ color: #ffffff;
	font-size: 23px;
	text-align: center;
opacity: 80%;}



#nav li a:hover{background-color: #2f2f2f;
}



